body {
    font-family: Arial, sans-serif;
    display: flex;
}
.container {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}
.table-container {
    max-width: 600px;
    margin: auto;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    text-align: center;
}
th, td {
    padding: 0;
}
thead#tableHeader tr, tbody#tableBody tr, tfoot#tableFooter tr {
    position: relative;
}
img {
    width: 100%;
    height: 100%;
}
.image-container {
    display: flex;
}
.image-container div {
    flex: 1;
}
input, button, select {
    margin: 10px 0;
    padding: 10px;
    display: block;
    width: 100%;
}
.remove-btn {
    background-color: transparent;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    position: absolute;
    right: 0;
    max-width: 32px;
}
